<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="title">Weather App</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="cityInput">City Name: </label>
                <input id="cityInput" type="text" name="cityName" value="">
            </div>
            <button class="btn" type="submit">Go</button>
        </form>
    </div>
</body>

</html>